#historyButton {
    margin-top: 0.5%;
}

.container {
    margin: 2%;
    padding: 2%;
}

.series-col {
    border-width: 5px;
    border-color: black;
    border-style: groove;
    max-height: 40rem;
    overflow-y: scroll;
}

p {
    font-weight: 600;
    font-size: large;
}

label { 
    font-weight: 600;
}

@media (max-height: 900px) {
    .series-col {
        max-height: 35rem;
    }
}

@media (max-height: 800px) {
    .series-col {
        max-height: 30rem;
    }
}

@media (max-height: 700px) {
    .series-col {
        max-height: 25rem;
    }
}

@media (max-height: 600px) {
    .series-col {
        max-height: 20rem;
    }
}

@media (max-height: 500px) {
    .series-col {
        max-height: 15rem;
    }
}